<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
	  <script src="header.js"></script>
  </head>
  <body>
    <header class="container">
      <div class="contentContainer">
        <div class="searchBarContainer">
          <div class="searchBar">
            <input class="searchBarInput" placeholder="Fedezd fel kínálatunkat!"></input>
            <button class="searchButton">
              <object class="searchIcon" data="../../assets/search.svg"></object>
            </button>
          </div>
        </div>
        <div class="underContainer">
          <object class="logo" data="../../assets/logo.svg"></object>
          <div class="buttonsContainer">
            <div class="button">
              <object class="buttonIcon" data="../../assets/user.svg"></object>
            </div>
            <div class="button">
              <object class="buttonIcon" data="../../assets/cart.svg"></object>
            </div>
          </div>
        </div>
      </div>
      <div class="linksContainer">
        <div class="linkItem">
          <label class="linkItemText">PC</label>
        </div>
        <div class="linkItem">
          <label class="linkItemText">Playstation</label>
        </div>
        <div class="linkItem">
          <label class="linkItemText">Xbox</label>
        </div>
        <div class="linkItem">
          <label class="linkItemText">Nintendo</label>
        </div>
      </div>
    </header>
  </body>
</html>