@import url('../componentsphp/header/header.css');
@import url('../componentsphp/rowList/rowList.css');
@import url('../componentsphp/footer/footer.css');


html, body
{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.titleImageContainer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 512px;
    position: relative;
    justify-content: center;
}

.titleImage
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 90%,rgba(0,0,0,1) 125%);
}

.vignette
{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 90%,rgba(0,0,0,1) 125%);
    border-radius: 0;
    position: absolute;
    top: 0; left: 0;
}

.productDetailsHeroBackgroundImage
{
    background-color: black;
    position: absolute;
    width: calc(100% + 128px);
    height: calc(100% + 32px);
    top: -32px;
    left: -64px;
    object-fit: cover;
    filter: blur(32px) brightness(0.75);
}

.titleImageContainerTextbox
{
    position: absolute;
    bottom: 96px;
    width: 100%;
    max-width: 1280px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.pagionationContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #e5f4ff;
    color: #001829;
}

.paginationContentContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 32px);
    max-width: 1280px;
    padding-bottom: 32px;
}

.paginationPage
{
    width: 32px;
    height: 32px;
    background-color: #cceaff;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.paginationPage:hover, .paginationPage:first-child
{
    background-color: #0076D7;
    color: white;
}

.paginationPage:last-child
{
    margin-right: 0;
}

.paginationDots
{
    width: 128px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1312px)
{
    .titleImageContainerTextbox
    {
        left: 16px;
    }
}

.hl_img_bg
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #001829;
}

.hl_img
{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    background-color: #001829;
    opacity: 0.1;
}

.vignette {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 90%,rgba(0,0,0,1) 125%);
    border-radius: 0;
    position: absolute;
    top: 0; left: 0;
}

.hl_textbox
{
    position: relative;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hl_titleText
{
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.hl_textbox_contentContainer
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    bottom: 64px;
    width: 100%;
    z-index: 2;
    text-shadow: 0 0 16px rgba(0, 0, 0, 1);
}

.hl_logo
{
    height: 128px;
    position: relative;
    filter: drop-shadow(0 0 8px #000);
    object-fit: contain;
    object-position: left;
}

.hl_buttonContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 637px;
    white-space: nowrap;
    margin-top: 16px;
}

.hl_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    padding: 0 32px;
    height: 56px;
    box-sizing: border-box;
    width: 296px;
    background-color: #040F16;
    color: white;
    box-shadow: 0 24px 16px -16px rgba(0, 0, 0, 0.5), 0 16px 32px -8px rgba(0, 0, 0, 0.5);
    border-image: linear-gradient(#00A2D5, #0076D7) 1;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    margin-left: 32px;
    font-weight: bold;
    text-decoration: none;
}

.hl_button:first-child
{
    margin-left: 0;
}

.hl_button:nth-child(2)
{
    background-color: #00243D;
    color: #00A2D5;
}

@media screen and (max-width: 1312px)
{
    .hl_textbox_contentContainer
    {
        align-items: center;
    }

    .hl_textbox
    {
        height: 512px;
    }
}

@media screen and (max-width: 768px)
{
    .hl_buttonContainer
    {
        flex-direction: column;
        width: 512px;
        max-width: calc(100% - 32px);
    }

    .hl_textbox
    {
        height: 768px;
    }

    .hl_button
    {
        margin: 0;
    }

    .hl_button:nth-child(1)
    {
        margin-bottom: 16px;
    }
}