@import url('../componentsphp/header/header.css');
@import url('../componentsphp/rowList/rowList.css');
@import url('../componentsphp/footer/footer.css');


html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body
{
    overflow-x: hidden;
}

.cardContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 130px - 210.5px - 422px);
    background-color: #0076D7;
}

.card
{
    width: calc(100% - 32px);
    max-width: 1280px;
    padding-bottom: 32px;
}

.deleteCartIcon
{
    height: 18px;
    width: 18px;
}

.cardTitleContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    padding: 32px 0;
}

.cardTitleDivider
{
    height: 2px;
    width: 100%;
    background-color: #fff;
}

.card h1
{
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin-right: 32px;
}

.card .checkOut {
  position: absolute;
  bottom: 2%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div {
  background-color: #040f16;
  color: #fff;
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.card .checkOut div:nth-child(1) {
  background-color: #00243d;
  color: #fff;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.card .checkOut div:nth-child(2) {
  background-color: #040f16;
  color: #fff;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.list .item{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 24px 16px -16px rgba(0, 0, 0, 0.5), 0 16px 32px -8px rgba(0, 0, 0, 0.5);
    border-image: linear-gradient(#00A2D5, #0076D7) 1;
    letter-spacing: 1px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    cursor: pointer;
}

.list .item img{
    width: 65%;
    height: 200px;
}

.list .item .title{
    font-weight: 600;
    color: #fff;
}

.list .item .price{
    margin: 10px;
    color: #fff;
}

.list .item:hover .title,
.list .item:hover .price{
    color: black;
}

.list .item button{
    color:#040F16;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border:  3px solid #040F16;
    box-shadow: 0 24px 16px -16px rgba(0, 0, 0, 0.5), 0 16px 32px -8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    cursor: pointer;
}

.list .item button:hover{
    background-color: transparent;
}

.listCard li{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #1C1F25;
    row-gap: 10px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img{
    width: 90%;
}

.listCard .count{
    margin: 0px 10px;
    color: #1f1f25;
}

.cardTitle, .cardPrice{
    color: #1C1F25;
}

.cardButton{
    width: 28px;
    height: 28px;
    color: #efefef;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card .checkOut div:nth-child(2):hover {
  background-color: #0076d7;
}

.cartPrevOrdersContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.cartPrevOrdersContentContainer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
}

.cartPrevOrdersTitleContainer
{
    color: white;
}

.cartPrevOrdersContainerOuterTable
{
    border-collapse: collapse;
    color: white;
}

.cartPrevOrdersContainerOuterTable thead tr th
{

}

.cartPrevOrdersContainerOuterTable tbody tr td
{

}

.tableContainer
{
    display: flex;
    width: 100%;
    overflow: auto;
}

table
{
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

table thead tr th
{
    background-color: #fff;
    padding: 16px;
    text-align: left;
    color: #001829;
}

.tableImg
{
    height: 96px;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

table tbody tr td
{
    padding: 0 16px;
    background-color: #005aa3;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    position: sticky;
}

table thead tr th:nth-child(4)
{
    position: sticky;
    right: 0;
}

table thead tr th:nth-child(3)
{
    position: sticky;
    right: 138px;
}

table tbody tr:last-child td
{
  border-bottom: none;
}

table tbody tr td
{
    overflow: scroll;
}

table tbody tr td:nth-child(1)
{
  left: 0;
  z-index: 1;
}

table tbody tr td:nth-child(4)
{
  right: 0;
}

table tbody tr td:nth-child(3)
{
  right: 138px;
}

table tbody tr td:nth-child(2)
{
    width: 100%;
    position: relative;
}

table tbody tr td div
{
    font-size: 18px;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
}

table tbody tr td div button
{
    border: none;
    border-radius: 0;
    background: #000;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 16px;
    color: white;
}

table tbody tr td div button:first-child
{
    margin-left: 0;
}

table tbody tr td div button:last-child
{
    margin-right: 0;
}

table tbody tr td div button:hover
{
    background: #0076D7;
}

table tbody tr td:nth-child(1)
{
    width: 96px;
    padding: 0;
}

table tbody tr:nth-child(odd)
{
    height: 4px;
}

table tbody tr:nth-child(1)
{
    height: 32px;
}
.buttonsContainer
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

.finalPrice
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.payButton
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  border: none;
  padding: 0 32px;
  height: 56px;
  box-sizing: border-box;
  width: 256px;
  background-color: #040F16;
  color: white;
  box-shadow: 0 24px 16px -16px rgba(0, 0, 0, 0.5), 0 16px 32px -8px rgba(0, 0, 0, 0.5);
  border-image: linear-gradient(#00A2D5, #0076D7) 1;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  margin-left: auto;
  font-weight: bold;
}