html, body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f5fbff;
    width: fit-content;
}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000;
    height: 64px;
    width: 100vw;
    padding: 0 16px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0px;
    right: 0;
    z-index: 3;
}

.logo
{
    height: 32px;
    pointer-events: none;
}

.adminLogoAnchor
{
    margin: 0;
    padding: 0;
    height: 32px;
}

main
{
    background-color: #f5fbff;
    display: flex;
    flex-direction: column;
}

table
{
    border-collapse: separate;
    border-spacing: 0;
}

thead
{

}

tr
{

}

tr td, tr th
{
    white-space: nowrap;
}

th
{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    height: 48px;
    padding: 0 16px;
    background-color: #0076D7;
    position: sticky;
    top: 64px;
    color: white;
}

th:nth-child(1)
{
    position: sticky;
    left: 0;
    z-index: 1;
    border-left: none;
    border: none;
}

th:last-child
{
    position: sticky;
    right: 0;
    width: 32px;
    padding: 0;
    z-index: 2;
}

th:nth-last-child(2)
{
    position: sticky;
    right: 32px;
    z-index: 2;
}

tbody
{
}

tr:nth-child(1) td
{
    border-top: none;
}

tr:nth-child(even) td
{
    background-color: #e5f4ff;
}

tr:nth-child(even) td .tableCap_left
{
    background-color: #e5f4ff;
}

tr:nth-child(even) td .tableCap_right
{
    background-color: #e5f4ff;
}

td
{
    padding: 0 16px;
    height: 48px;
    background-color: #f5fbff;
}

tr td:nth-child(1)
{
    position: sticky;
    left: 0;
    border: none;
    width: 32px;
    padding: 0;
    background-color: #f5fbff;
}

.tableCap_left
{
    margin-left: 16px;
    width: 16px;
    height: 100%;
    background-color: #f5fbff;
    border-radius: 8px 0 0 8px;
}

.tableCap_right
{
    margin-right: 16px;
    width: 16px;
    height: 100%;
    background-color: #f5fbff;
    border-radius: 0 8px 8px 0;
}

tr td:last-child
{
    position: sticky;
    right: 0;
    background-color: #f5fbff;
    width: 32px;
    padding: 0;
}

.admin_table_button_anchor
{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr td:nth-last-child(2)
{
    position: sticky;
    right: 32px;
    width: 48px;
    padding: 0;
}

tr:last-child td
{
    border-bottom: none;
}

.table_corner
{
    position: absolute;
    right: -8px;
    bottom: -7px;
}