html, body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #fff;
    width: fit-content;
    font-size: 16px;
}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    height: 64px;
    width: 100vw;
    padding: 0 16px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0px;
    right: 0;
    z-index: 3;
}

.logo
{
    height: 32px;
    pointer-events: none;
}

.adminLogoAnchor
{
    margin: 0;
    padding: 0;
    height: 32px;
}

main
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

table
{
    border-collapse: separate;
    border-spacing: 0;
}

thead
{

}

tr
{

}

tr td, tr th
{
    white-space: nowrap;
}

th
{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    height: 48px;
    padding: 0 16px;
    background-color: #0076D7;
    position: sticky;
    top: 64px;
    color: white;
    box-shadow: 0 1px 0 0 #000;
    z-index: 1;
}

tbody
{
}

tr:nth-child(1) td
{
    border-top: none;
}

tr:nth-child(even) td
{
}

thead tr
{
    box-shadow: 0 0 8px 0 red;
}

td
{
    padding: 0;
    height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

tbody tr td:last-child
{
    padding: 0;
    width: 48px;
}

tbody tr td:first-child
{
    width: 48px;
    padding: 0;
}

.tableDeleteIcon
{
    pointer-events: none;
    opacity: 0.1;
}

tbody tr:hover .tableDeleteIcon
{
    opacity: 1;
}

.tableDeleteIconContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.admin_table_button_anchor
{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr:last-child td
{
    border-bottom: none;
}

tr td:last-child
{
    border-right: none;
}

.tableInput
{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 16px;
}

.tableInput:hover, .tableInput:focus
{
    background-color: #e5f4ff;
}

.headerButtonsContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerButton
{
    color: white;
    padding: 0 16px;
    cursor: pointer;
}

.tableInputContainer:hover
{
    background-color: #e5f4ff;
}

.tableInputContainer:has(.tableInput:focus)
{
    background-color: #e5f4ff;
}

.tableInputContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tableInputSelect
{
    -webkit-appearance: none;
}

.tablePriceText
{
    margin-right: 16px;
}

.tableCheckboxContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}