@import url('./components/header/header.css');
@import url('./components/showcasedItem/showcasedItem.css');
@import url('./components/rowList/rowList.css');
@import url('./components/footer/footer.css');

body, html
{
    margin: 0;
    padding: 0;
    background-color: #040F16;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.testImg
{
    width: 100vw;
    height: 512px;
    object-fit: cover;
}

.faszsag
{
    position: absolute;
    top: 300px;
    left: 200px;
    font-size: 32px;
    color: blue;
}