@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body
{
    background: rgba(0, 62, 112, 0.75) url('assets/avatar.jpg');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(10px);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header
{
    position: absolute;
    z-index: 10;
    top: 0;
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
}

.container
{
    height: 512px;
    width: 448px;
    border-image: linear-gradient(#00A2D5, #0076D7) 1;
    border-width: 2px;
    border-style: solid;
    background-color: #000;
    box-shadow: 0 24px 16px -16px rgba(0, 0, 0, 0.5), 0 16px 32px -8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    position: relative;
}
.form-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box .LoginForm{
    position: absolute;
    transform: translateX(0px) rotate(0deg);;
    transition: .5s ease;
    transition-delay: .4s;
}

.form-box .LoginForm.active {
    transform: translateX(-450px) rotate(-45deg);
    transition-delay: .2s;
}

.form-box .regForm.active{
    transform: translateX(0px) rotate(0deg);
    transition-delay: .4s;
}

.form-box .regForm{
    transform: translateX(450px) rotate(-45deg);;
    transition: .5s ease;
    transition-delay: .2s;
}
.container .form-box h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.form-box .input-box{
    margin: 35px 0;
    width: 330px;
    background-color: #001829;
    position: relative;
}

.form-box .input-box input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0 35px 0 16px;
    font-size: 18px;
    color: white;
}

.form-box .input-box input::placeholder
{
    color: white;
}

.form-box .input-box label{
    font-weight: 400;
    letter-spacing: .5px;
    position: absolute;
    left: 16px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3 ease;
    transition: font-size 0.05s linear, top 0.05s linear;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -8px;
    font-size: 14px;
}

.input-box i{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
}
.input-box i::first-letter(2){
    cursor: pointer;
}
.forget-section{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.forget-section p{
    display: flex;
    align-items: center;
}

.forget-section p input{
    accent-color: #0076D7;
    margin-right: 8px;
}

.forget-section a{
    text-decoration: none;
    color: white;
}

.forget-section a:hover{
    text-decoration: none;
    color: #0076D7;
}

.btn
{
    width: 100%;
    font-size: 18px;
    border: none;
    margin-top: 32px;
    padding: 8px 32px;
    background-color: #040F16;
    color: white;
    box-shadow: 0 24px 16px -16px rgba(0, 0, 0, 0.5), 0 16px 32px -8px rgba(0, 0, 0, 0.5);
    border-image: linear-gradient(#00A2D5, #0076D7) 1;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    text-decoration: none;
}

.account-creation{
    text-align: center;
    margin: 25px 0 10px;
    font-weight: 400;
    font-size: 16px
}

.account-creation span a{
    text-decoration: none;
    color: #fff;
}

.account-creation a:hover{
    text-decoration: underline;
}


@media(max-width: 480px)
{
    .container
    {
        width: 100%;
        height: 100%;
        border: none;
    }
}