body, html
{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.rowListContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #040F16;
}

.nintendoVerticalContainer
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nintedoTitleContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    padding: 32px 0;
    font-size: 32px;
    color: #fff;
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
}

.rowListDivider
{
    height: 2px;
    width: 100%;
    background-color: #00A2D5;
    margin-left: 32px;
}

.nintendoItemsContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.rowListTitleLogo
{
    height: 48px;
    margin-right: 32px;
}

.rowListVerticalContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;
    max-width: 1280px;
}

.nintendoItem
{
    display: flex;
    flex-direction: column;
    width: 296px;
    min-width: 296px;
    height: fit-content;
    cursor: pointer;
    background-color: #001829;
    margin-right: 32px;
}

.nintendoItem:last-child
{
    margin-right: 0;
}

.nintendoImageItemContainer
{
    height: fit-content;
}

.itemImg
{
    width: 100%;
    box-sizing: border-box;
}

.nintendoDataContainer
{
    position: relative;
    color: #fff;
    padding: 16px;
}

.nintendoTitleText
{
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.nintendoCartButtonContainer
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}

.price
{
    font-size: 16px;
    font-weight: lighter;
    margin-left: 16px;
    color: gold;
}

.cartButton
{
    font-size: 18px;
    border: none;
    padding: 8px 32px;
    background-color: #040F16;
    color: white;
    box-shadow: 0 24px 16px -16px rgba(0, 0, 0, 0.5), 0 16px 32px -8px rgba(0, 0, 0, 0.5);
    border-image: linear-gradient(#00A2D5, #0076D7) 1;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
}